@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /* Default theme (light) */
    --background-1: white;
    --background-2: lightgrey;
    --accent-1: #399ed0;
    --accent-2: hsl(from var(--accent-1) h s 25);
    --accent-3: hsl(from var(--accent-1) h s 40);
    --accent-4: hsl(from var(--accent-1) h s 90);
    --accent-5: hsl(from var(--accent-1) h s 80);
    --error: rgb(170, 27, 27);
    --error-opacity: 0.2;
    --text-1: black;
    --text-2: white;
    /* General Settings */
    --curve: 10px;
    --caret-size: 0.3rem;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    --nav-bar-height: 3em;
    background: var(--background-1);
    color: var(--text-1);
}
:root[theme="dark"] {
    --background-1: #1a1a1a; 
    --text-1: white;
    --text-2: black;
    --accent-2: hsl(from var(--accent-1) h s 90);
    --accent-3: hsl(from var(--accent-1) h s 80);
    --accent-4: hsl(from var(--accent-1) h s 25);
    --accent-5: hsl(from var(--accent-1) h s 40);
}

:has(> #navigation-bar) {
    padding-top: var(--nav-bar-height);
}


#navigation-bar {
    height: var(--nav-bar-height);
    max-height: var(--nav-bar-height);
    background-color: var(--accent-4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 0.2em;
    overflow: hidden;
    > * {
        height: 100%;
        position: relative;
        padding: 0 1em;
        flex-shrink: 1;
        text-align: center;
        color: var(--text-1);
        text-decoration: none;
        display: flex;
        align-items: center;      
    }
    .spacer {
        flex-grow: 1;
        background-color: transparent !important;
        order: 98;
    }
    #change-theme {
        order: 99;
    }
    > [selected] {
        background-color: var(--accent-5);
    }
    > :hover {
        background-color: var(--accent-1);
        color: var(--background-1);
    }
    #home-link {
        font-size: larger;
    }
}

#example-display {
    margin: 10px;
    &::part(tab-list) {
        gap: 0.5em;
    }
    &::part(tab) {
        --tab-color: rgba(from var(--accent-4) r g b / 0.3);
        --selected-color: var(--accent-4);
        border-radius: var(--curve);
        padding: 0.2em 1em;
    }
    &::part(body) {
        padding: 1em;
        margin: 0.5em 0;
        border-radius: var(--curve);
        background-color: rgba(from var(--accent-4) r g b /0.5);
    }
}

[current-page="Examples"] > div:not(#navigation-bar) {
    height: calc(100vh - var(--nav-bar-height));
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

#results-display {
    display: grid;
    gap: 1em;
    padding: 1em;
    overflow: hidden;
    height: 100vh;
    > * {
        max-height: 100%;
        overflow: scroll;
    }
}

#plot-target {
    width: 100%;
    display: grid;
    place-items: start;
    .plot {
        width: 100%;
        max-width: 80vw;
        place-items: center;
    }
    
}

.legend {
    padding: 1em 0.5em;
    gap: 1em;
    width: 100%;
    justify-content: space-around;
    > * {
        gap: 0.5em;
        text-transform: capitalize;
    }
}

table.data-table, #expected-input-format table {
    --table-margin: 0.5em;
    width: calc(100% - var(--table-margin)*2);
    margin: var(--table-margin);
    /* border: 1px solid; */
    border-collapse:collapse;
    tbody, thead, tr, td, th {
        border: inherit;
    }
    thead {
        background-color: var(--accent-5);
    }
    th {
        padding: 0.1rem 0.4rem;
    }
    tr:nth-of-type(even) {
        background-color: var(--accent-4);
    }
    td {
        text-align: center;
    }
}

#reset-button {
    border: 2px solid;
    border-radius: var(--curve);
    color: var(--accent-1);
    background-color: var(--background-1);
    margin: 0.5em;
    display: flex;
    align-items: center;
    padding: 0.5em;
    justify-content: center;
    &:hover > .material-icons {
        animation: Spin 3s linear infinite;
    }
}

@keyframes Spin {
    0%{transform: rotate(360deg)}
    50%{transform:rotate(180deg)}
    100%{transform:rotate(0deg)}
}


div :has(> #reset-button) {
    display: grid;
}

file-upload {
    margin: 1em;
    --hover-color: var(--accent-1);
    border-color: var(--accent-5);
    --drag-color: rgba(from var(--accent-4) r g b / 0.4);
}

#data-cleaning-options {
    margin: 1em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    > span {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 5px;
        > label::after {
            content: ':';
        }
        .validation-errors {
            color: var(--error);
            grid-column:1 /span 2;
            font-size: x-small;
            font-style:italic;
        }
    }
    > button {
        grid-column: 1 / span 2;
        background-color: var(--accent-1);
        border: 2px solid transparent;
        border-radius: var(--curve);
        &:hover {
            background-color: var(--accent-3);
            color: var(--text-2);
        }
    }
}

#expected-input-format {
    width: 60vw;
    min-width: fit-content;
    margin: 3em auto;
    padding: 1em;
    th > i {
        font-weight: normal;
    }
    li {
        margin-left: 2em;
    }
}

details {
    margin: 1em;
    border: 1px solid var(--accent-4);
    border-radius: var(--curve);
    padding: 0.2em;
    > summary {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        gap: 0;
        padding-left: 0.3em;
        > span {
            flex-grow: 1;
        }
        > [type="button"] {
            margin-bottom: 5px;
            color: var(--background-1);
            background-color: var(--accent-5);
            border: 2px solid;
            text-decoration: none;
            border-radius: var(--curve);
            padding: 0.2em;
            &:hover {
                background-color: var(--accent-1);
            }
        }
        &::before {
            content: '';
            border-width: var(--caret-size) calc(var(--caret-size)*1.62);
            border-style: solid;
            border-color: transparent transparent transparent currentColor;
            display: block;
            place-self: center;
            width: var(--caret-size);
            transform-origin: calc(var(--caret-size)/2) 50%;
            transition: transform ease-in-out 0.1s;
        }
    }
    &[open] > summary::before {
        transform: rotate(90deg);
    }
     
}

@media screen and (width > 880px) {
    #plot-target {
        width: 50vw;
    }
    #results-display {
        grid-template-columns: auto 1fr;
    }
}


[hidden] {
    display: none !important;
}